env/
node_modules/
isa/__pycache__/
.vscode/
__pycache__/
isa/static/js/
isa/static/lib/
isa/database.db
isa/test_db.py
test_db.py
.tox/
config.yaml
.DS_Store
campaign_stats_files/
isa/translations/*/LC_MESSAGES/messages.mo
.coverage