Flask==2.3.2
flask-babel==3.1.0
Flask-Login==0.6.2
Flask-Migrate==4.0.4
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.1.1
mwoauth==0.3.8
pycountry==22.3.5
PyMySQL==1.1.0
PyYAML==6.0
requests==2.31.0
SQLAlchemy==1.4.49
nose2==0.13.0
coverage==7.2.7
celery[redis]==5.3.1
