{% extends "main/layout.html" %}
{% block content%}
<div id="campaign_nav" class=" text-center pb-2  navbar-light bg-light">
    <div class="container">
        <div class="row">
            {% if is_wiki_loves_campaign %}
                <div class="ml-auto">
                    <small> <strong> {{_('View images from')}} </strong> </small>
                    <select id="campaign_countries" class="fas fa-caret-down custom-select btn-new" data-style="btn-new">
                        <option class="select-option" value= "all" select="selected">{{_('All countries')}}</option>
                        <!-- The other obtions will be povided here on front-end -->
                    </select>
                </div>
            {% endif %}
            <a id="get_started_btn" href="{{url_for('campaigns.contributeToCampaign', id=campaign.id ) }}" class="ml-auto mr-auto btn btn-primary" >Get Started</a>
        </div>
    </div>
</div>
<div class="container">
    <header class="main-page pb-0">
        <div class="pt-0 d-flex justify-content-center">
            <h3>
                {{ campaign.campaign_name }}
            </h3>
        </div>
    </header>
    <div class="text-center pt-0">
        <small>
            <strong>
                {{campaign.short_description}}
            </strong>
        </small>
    </div>
    <div class="text-center pb-3 pt-4">
        <h6><strong>{{ _('START DATE')}}: </strong> {{campaign.start_date}}</h6>
        <h6><strong>{{ _('END DATE') }}: </strong> {{campaign.end_date}}</h6>
    </div>

    <div id="campaign_stats_table" class="pb-3 navbar-light bg-light text-center">
        <small class="campaign_progress_text"><strong>{{ _('Campaign Progress') }}</strong></small>
        <br>
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="stat-display">
                    <div class="stat-display__stat">
                        <div class="stat-display__value">{{ campaign_contributions }} </div>
                        <small class="">{{ _('Contributions') }}</small>
                    </div>
                </div>
                <div class="stat-display">
                        <div class="stat-display__stat">
                            <div class="stat-display__value"> {{ campaign_editors }} </div>
                            <small class="next_small">{{ _('Editors') }}</small>
                        </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 ml-auto">
                    <div class="pb-3 ml-auto">{{ _('Top Contributors') }}</div>
                    <table class="table">
                        <thead>
                            <tr>
                            <th scope="col">#</th>
                            <th scope="col">{{ _('Contributor') }}</th>
                            <th scope="col">{{ _('Images Improved') }}</th>
                            </tr>
                        </thead>
                        {% if all_contributors_data %}
                            <tbody>
                                {% for contributor_data in all_contributors_data %}
                                    <tr>
                                        <th scope="row">{{contributor_data['rank']}}</th>
                                        <td>{{contributor_data['username']}}</td>
                                        <td>{{contributor_data['images_improved']}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        {% else %}
                            <tbody>
                                <tr>
                                    <th scope="row">{{ _('Sorry') }}!</th>
                                    <td></td>
                                    <td class="text-center">{{ _('No partcipants has contributed to this campaign') }}</td>
                                </tr>
                            </tbody>
                        {% endif %}
                    </table>
                </div>
                <div class="col-sm-6 mr-auto">
                    <div class="pb-3 ml-auto">{{ _('Most improved Countries') }}</div>
                    <table class="table">
                        <thead>
                            <tr>
                            <th scope="col">#</th>
                            <th scope="col">{{ _('Country') }}</th>
                            <th scope="col">{{ _('Images Improved') }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <th scope="row">1</th>
                            <td>Cameroon</td>
                            <td>500</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="pt-3 mr-auto">
            <a id="" href="#" class="btn btn-primary" >{{ _('Download Complete Stats') }}</a>
        </div>
    </div>
    <br>
    {% if username != 'Guest' and username != False and username != None %}
        <div id="campaign_stats_table" class="pb-3 navbar-light bg-light text-center">
            <br>
            <div class="container">
                <div class="row">
                    <div class="col ml-auto">
                        <div class="pb-3 ml-auto">{{ _('My Contributions') }}</div>
                        <table id="my_contributions_table" class="table">
                            <thead>
                                <tr>
                                    <th scope="col">{{ _('Rank') }}</th>
                                    <th scope="col">{{ _('Images Improved') }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">{{current_user_rank}}</th>
                                    <td>{{current_user_images_improved}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="container">
        <header class="main-page">
            <div class="pt-0 text-center">
                <h3>
                    {{ _('More about') }} {{ campaign.campaign_name }}
                </h3>
            </div>
        </header>
        <div class="text-center">
            <h6><strong>{{ _('Maanager') }}: </strong><a href="https://commons.wikimedia.org/wiki/User:{{campaign_manager}}">{{campaign_manager}}</a></h6>
        </div>
        <div class="text-center">
            <small>
                <strong>
                    {{campaign.long_description}}
                </strong>
            </small>
        </div>
        {% if campaign_manager == username %}
            <div class=" pt-5 text-center mr-auto ml-auto">
                <a id="" href="{{url_for('campaigns.updateCampaign', id=campaign.id)}}" class="btn btn-danger" >Edit Campaign</a>
            </div>
        {% endif %}
    </div>
</div>
</div>
{% endblock content%}
{% block scripts %}
    <script src="{{url_for('static', filename='js/campaign.js')}}"></script>
{% endblock scripts%}