{% extends "main/layout.html" %}
{% block content%}
<div class="container form-group">
    <a href="{{url_for('campaigns.getCampaignById', id=campaign.id ) }}" class="fas fa-caret-left btn btn-light pt-0 mt-1 ml-4" id="campaign_back_button">  Campaign Home</a>
</div>


<div class="container">
    <div class="container mr-auto d-flex justify-content-center">
        <div id="campaignPartcipateImageCarousel" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                {% for image in all_campaign_desired_images %}
                    {% if image == all_campaign_desired_images[0] %}
                        <div id="participate_image_item"class="carousel-item active">
                            <img id="participate_image" name="{{image}}" class="d-block w-100 img-fluid" src="https://commons.wikimedia.org/wiki/Special:FilePath/{{all_campaign_desired_images[0]}}?width=100"
                                alt="{{all_campaign_desired_images[0]}}" width="200" height="40">
                        </div>
                    {% else %}
                        <!-- We will display a random image here  -->
                        <div id="participate_image_item" class="carousel-item">
                            <img id="participate_image" name="participate_image" class="d-block w-100 img-fluid" src="https://commons.wikimedia.org/wiki/Special:FilePath/{{image}}?width=100"
                                alt="{{image}}" width="200" height="40">
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#campaignPartcipateImageCarousel" role="button" id="carousel-btn-prev" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#campaignPartcipateImageCarousel" id="carousel-btn-next" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <!-- <div class="text-center pt-4 mr-auto">
        <img id="edited_image" src="/static/default.jpg" alt="Image Undergoing Edit">
    </div> -->
    <div id="edit_image_info" class="mr-auto pb-2 navbar-light bg-light text-center">
        <div class="text-left pl-2">
            <small><strong>File:</strong>&nbsp; </small> <small id="image_name"></small> <br>
            <small><strong>Description:</strong>&nbsp; <small id="image_description"></small></small> <br>
            <small><strong>Categories:</strong>&nbsp; <small id="image_categories"></small></small> <br>
            <small><strong>Author:  </strong><small id="image_author"></small>&nbsp;</small>
        </div>
        <div class="text-center">
            <a href="#"><small class="fas fa-caret-up"> show all metadata from commons</small></a>
        </div>
    </div>

    {% if campaign.depicts_metadata %}
        <div id="edit_image_info" class="mr-auto pb-2 mt-2 navbar-light bg-light text-center">
            <div class="text-left pl-4 pb-2">
                <h6>Depicts</h6>
            </div>
            <div class="text-center pl-4 pb-4">
                <div class="text-center pl-4">
                    <div class="text-center">
                        <div id="depicts_columns" class="row pt-2">
                        </div>
                        <div id="depicts_error_message" class="col-sm-12 mr-auto"></div>
                        <div class="row pt-4">
                            <div class="col-sm-4 ml-auto">
                                <div id="add_depict_btn" class="btn btn-success lighten-4">
                                    Add new &nbsp;
                                    <i width="0.5%" class="fas fa-search"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="depicts_search_form_section">
            <div id="" class=" d-flex justify-content-center">
                <form  class="" method="POST" action="">
                    {{ depicts_form.csrf_token }}
                    <div class="row">
                        <div class="col-md-8 col-md-offset-1 mr-auto ml-0"> 
                            {{ depicts_form.depicts( id="depicts_select_options", class="form-control", multiple="multiple") }}
                        </div>
                        <div class = "col-md-2 col-md-offset-2 pl-0">
                            {{ depicts_form.lang( id="depicts_lang_select", class=" btn btn-secondary lighten-2" ) }}
                        </div>
                        <div id="depict_save_btn" class="col-md-2 mr-auto mt-1">
                            {{ depicts_form.submit( class="btn btn-sm btn-warning" ) }}
                        </div>
                    </div>
                    <div class="row">
                        {{ depicts_form.sub_categories( class="country-subcategory-input form-control form-control-sm" ) }}
                    </div>
                </form>
            </div>
        </div>  
    {% endif %}

    {% if campaign.captions_metadata %}
        <div id="edit_image_info" class="mr-auto pb-2 mt-2 navbar-light bg-light text-center">
            <div class="text-left pl-4 pt-2">
                <h6>Caption</h6>
            </div>
            <div class="text-center d-flex justify-content-center">
                <form  class="" method="POST" action="">
                    {{ captions_form.csrf_token }}
                    <small class="pb-2"> {{captions_form.image_label(id="captions_image_label")}}</small>
                    <div class="form-group">
                        <!-- We test for errors in the form data here -->
                        {% if captions_form.caption.errors %}
                            {{ captions_form.caption( class="form-control form-control-sm is-invalid" ) }}
                            <div class="invalid-feedback">
                                {% for error in captions_form.caption.errors %}
                                    <span> {{ error }}</span>
                                {% endfor %}
                        </div>
                        {% else %}
                            {{ captions_form.caption( class="form-control captions_text form-control-sm" ) }}
                        {% endif %}
                    </div>
                    <div class="row">
                        {{ captions_form.sub_categories( class="country-subcategory-input form-control form-control-sm" ) }}
                    </div>
                    <div class="text-center">
                        <small class="choose_caption_lang_text"><strong>Change Caption Language:</strong> CHOOSE AVAILABLE LANGUAGES</small>
                    </div>
                    <div class="text-center pl-4">
                        <div class="text-center">
                            <div class="row pt-2">
                                <div class="col-sm-3 mr-auto">
                                    <h6><span class="badge badge-primary">English</span></h6>
                                </div>
                                <div class="col-sm-3 mr-auto">
                                    <h6><span class="badge badge-warning">French</span></h6>
                                </div>
                                <div class="col-sm-3 mr-auto">
                                    <h6><span class="badge badge-warning">German</span></h6>
                                </div>
                                <div class="col-sm-3 mr-auto">
                                    <h6><span class="badge badge-warning">Spanish</span></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mr-auto pb-1 pt-1 mt-4 navbar-light bg-dark text-center">
                        <div class="text-center">
                            <div class="row pt-1">
                                <div class="col-sm-3 mr-auto">
                                    <h6><span class="btn btn-lg btn-primary fas fa-caret-left"></span></h6>
                                </div>
                                <div class="col-sm-3 mr-auto">
                                    <h6><span class="btn btn-secondary">Cancel</span></h6>
                                </div>
                                <div class="col-sm-3 mr-auto">
                                    <h6><span>{{ captions_form.submit( class="btn btn-secondary" ) }}</span></h6>
                                </div>
                                <div class="col-sm-3 mr-auto">
                                    <h6><span class="btn btn-lg btn-primary fas fa-caret-right"></span></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
</div>
{% endblock content%}
{% block scripts %}
    <script src="{{url_for('static', filename='js/participate.js')}}"></script>
{% endblock scripts%}