<div class="stats-table mx-auto">
    <div class="top-user-table mr-4">
        <table class="table table-sm table-light text-center">
            <h6>{{ _('Top Contributors') }}</h6>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">{{ _('Contributor') }}</th>
                    <th scope="col">{{ _('Contributions') }}</th>
                </tr>
            </thead>
            {% if all_contributors_data %}
            <tbody>
            {% for contributor_data in all_contributors_data %}
                <tr>
                    <th scope="row">{{contributor_data['rank']}}</th>
                    <td><a href="https://commons.wikimedia.org/wiki/User:{{ contributor_data['username'] }}">{{contributor_data['username']}}</a></td>
                    <td>{{contributor_data['images_improved']}}</td>
                </tr>
            {% endfor %}
            </tbody>
            {% else %}
            <tbody>
                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td class="text-center">{{ _('No partcipants has contributed to this campaign') }}</td>
                </tr>
            </tbody>
            {% endif %}
        </table>
    </div>
    {% if is_wiki_loves_campaign %}
        <div class="top-country-table">
            <table class="table table-sm table-light text-center">
                <h6>{{ _('Most improved countries') }}</h6>
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">{{ _('Country') }}</th>
                            <th scope="col">{{ _('Contributions') }}</th>
                        </tr>
                    </thead>
                    {% if all_campaign_country_statistics_data %}
                        <tbody>
                            {% for country_statistics_data in all_campaign_country_statistics_data %}
                                <tr>
                                    <th scope="row">{{country_statistics_data['rank']}}</th>
                                    <td>{{country_statistics_data['country']}}</td>
                                    <td>{{country_statistics_data['images_improved']}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    {% else %}
                        <tbody>
                            <tr>
                                <th scope="row"></th>
                                <td></td>
                                <td class="text-center">{{ _('There is no data available yet for this campaign') }}</td>
                            </tr>
                        </tbody>
                    {% endif %}
            </table>
        </div>
    {% endif %}
</div>

<!-- Fix this wrt the number of pages -->
<div class="main-stats-label-group mx-auto">
    <div class="campaign-stats-title">
        <div class="">
            <h6>{{ _('Page ') }} {{table_data.page}} of {{table_data.pages}} / {{table_data.total}} {{ _('results') }}</h6>
        </div>
        <div class="pagination">
            <a class="btn btn-secondary btn-sm {% if table_data.page == 1 %}disabled{% endif %}" 
               href="{% if table_data.page > 1 %}{{ url_for('campaigns.getCampaignById', id=campaign.id, page=table_data.page-1) }}{% else %}#{% endif %}">
                &laquo;
            </a>
            {% for i in range(table_data.pages) %}
                <a class="btn btn-primary btn-sm {% if table_data.page == i+1 %}active{% endif %}" 
                   href="{{ url_for('campaigns.getCampaignById', id=campaign.id, page=i+1) }}">
                    {{ i + 1 }}
                </a>
            {% endfor %}
            <a class="btn btn-secondary btn-sm {% if table_data.page == table_data.pages %}disabled{% endif %}" 
               href="{% if table_data.page < table_data.pages %}{{ url_for('campaigns.getCampaignById', id=campaign.id, page=table_data.page+1) }}{% else %}#{% endif %}">
                &raquo;
            </a>
          </div>
    </div>
</div>