{% extends "main/layout.html" %}
{% block content %}
<div class="container text-center page-header">
    <h1 class=" pt-1 pb-0 d-flex justify-content-center">
        {% if is_update %}
            {{ _('Update Campaign Details') }}
        {% else %}
            {{ _('Create new Campaign') }}
        {% endif %}
    </h1>
    <hr class="pt-0" width="35%">
    <p>
        {% if is_update %}
            {{ _('You are updating %(campaign)s', campaign=campaign.campaign_name) }}
        {% else %}
            {{ _('Fill in the form below to create your campaign') }}
        {% endif %}
        <br>
        {{ _('Fields marked with * are mandatory') }}
    </p>
</div>

<div class="container">
    <form  class="" method="POST" action="">
        {{ form.csrf_token }}
        <!-- {{ form.campaign_name.label( class="form-control-label" ) }} -->

        <div class="form-group">
            <label for="campaign_name">{{ _('Campaign Name') }}*</label>
            <!-- We test for errors in the form data here -->
            {% if form.campaign_name.errors %}
            {{ form.campaign_name( class="form-control form-control-sm is-nvalid" ) }}
            <div class="invalid-feedback">
                {% for error in form.campaign_name.errors %}
                <span> {{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.campaign_name( class="form-control form-control-sm" ) }}
            {% endif %}
            <small id="campaign_nameHelp" class="form-text text-muted">{{ _('This is the name specific to your campaign, not the main project.') }}' {{ _('So, not “Wiki Loves Africa” but rather “Music and Dance in Nigeria”') }}</small>
        </div>

        <hr>

        <div class="form-group">
            <!-- {{ form.short_description.label( class="form-control-label " ) }} -->
            <label for="short_description">{{ _('Short description of Campaign (144 characters)') }}</label>
            <!-- We test for errors in the form data here -->
            {% if form.short_description.errors %}
            {{ form.short_description( class="form-control form-control-lg is-invalid" ) }}
            <div class="invalid-feedback">
                {% for error in form.short_description.errors %}
                <span> {{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.short_description( class="form-control form-control-sm" ) }}
            {% endif %}
            <small id="short_descriptionHelp" class="form-text text-muted">{{ _('What are users going to be working on') }}</small>
        </div>

        <hr>

        <div class="form-row">
            <div class="form-group col-md-6">
                <!--  <div class="input-group date">-->
                <label for="datepick1">{{ _('Start Date') }}*</label>
                <!-- We test for errors in the form data here -->
                {% if form.start_date.errors %}
                {{ form.start_date( class="form-control form-control-sm datetimepicker-input is-invalid" ) }}
                <div class="invalid-feedback">
                    {% for error in form.start_date.errors %}
                    <span> {{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.start_date( class="form-control form-control-sm" ) }}
                {% endif %}
                <small id="datepick1Help" class="form-text text-muted">{{ _('Set campaign start date') }}</small>
            </div>
            <div class="form-group col-md-6">
                <label for="datepick2">{{ _('End Date') }}</label>
                <!-- We test for errors in the form data here -->
                {% if form.end_date.errors %}
                {{ form.end_date( class="form-control form-control-md is-invalid" ) }}
                <div class="invalid-feedback">
                    {% for error in form.end_date.errors %}
                    <span> {{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.end_date( class="form-control form-control-sm" ) }}
                {% endif %}
                <small id="datepick2Help" class="form-text text-muted">{{ _('Set campaign end date') }}</small>
            </div>
        </div>

        <hr>

        <div class="form-group">
                <label for="campaign_type">{{ _('This is a Wiki Loves Campaign') }} </label>
                <!-- We test for errors in the form data here -->
                {% if form.campaign_type.errors %}
                {{ form.campaign_type( class="form-control form-control-sm is-invalid" ) }}
                <div class="invalid-feedback">
                    {% for error in form.campaign_type.errors %}
                    <span> {{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.campaign_type( class="checkbox-inline mt-1" ) }}<button type="button" class="btn btn-link py-0" data-container="body" data-toggle="popover" data-trigger="focus"  data-placement="right" data-content="{{ _('When set up correctly this option allows participants to choose what country they want to see images from and records contributions by country.') }} {{ _(' You can select multiple categories of the correct type.') }} {{ _('Depth must be set to 0 for all categories in a Wiki Loves campaign.')}} <a href=''>Learn more here</a>"><i class="fas fa-question-circle"></i></button>
                {% endif %}
                <small id="campaign_typeHelp" class="form-text text-muted">{{ _('Requires categories of the form images from Wiki Loves <strong><em>project</em></strong> in a specific <strong><em>year</em></strong>, eg “Images from Wiki Loves <strong><em>Africa</em></strong> <strong><em>2019</em></strong>” (change <strong><em>project</em></strong> and year as <strong><em>required</em></strong>)') }}</small>
                <div class="invalid-feedback invalid-wiki-loves-warning">
                        <p>{{ _('Some of the categories chosen below do not have the correct syntax') }}</p>
                </div>
        </div>

        <hr>

        <div class="form-group">

            <label for="category-search">{{ _('Categories to use in this campaign') }}*<button type="button" class="btn btn-link py-0" data-container="body"  data-toggle="popover" data-trigger="focus"  data-placement="right" data-content="{{ _('Search for the Wikimedia Commons categories that contain the images you wish to use in your campaign.') }} {{ _('If you want a category and ALL of its subcategories use the \'Depth\' option to choose how many levels down you want to go (leave depth on 0 for Wiki loves campaigns).') }}"><i class="fas fa-question-circle"></i></button></label>

            <!-- We test for errors in the form data here -->
            {% if form.categories.errors %}
            {{ form.categories( class="form-control form-control-lg is-invalid" ) }}
            <div class="invalid-feedback">
                {% for error in form.categories.errors %}
                <span> {{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.categories( id="categories-data", class="form-control form-control-sm") }}
            {% endif %}

            {% if form.campaign_images.errors %}
            {{ form.campaign_images( class="form-control form-control-lg is-invalid" ) }}
            <div class="invalid-feedback">
                {% for error in form.campaign_images.errors %}
                <span> {{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
                {{ form.campaign_images( id="campaign-image-count", class="form-control form-control-sm" ) }}
            {% endif %}

            <!-- Category selection UI which is NOT submitted in the form -->
            <select id="category-search" class="w-100"></select>
            <small id="category-searchHelp" class="form-text text-muted">{{ _('Choose categories to use in the campaign') }}</small>
            <table class="w-100 table table-striped">
                <thead id="selected-categories-header">
                    <tr>
                    <th>{{ _('Name') }}</th>
                    <th colspan="2">{{ _('Depth') }}</th>
                    </tr>
                </thead>
                <tbody id="selected-categories-content">
                    <!-- populated by JavaScript -->
                </tbody>
            </table>
            <div class="invalid-feedback invalid-wiki-loves-warning">
                    <p>
                        {{ _('The categories in red do not have the correct syntax for the "Wiki Loves campaign" feature.') }}
                        {{ _('Please remove them or untick the "Wiki Loves Campaign" checkbox above') }}
                    </p>
            </div>
        </div>

        {% if is_update %}
        <label for="update_images">{{ _('Update images') }}</label>
        {{ form.update_images( class="checkbox-inline mt-1 metadata-type-checkbox" ) }}
        <small class="form-text text-muted">{{ _('Collect images from the categories.') }} {{ _('This will replace any current images.') }} {{ _('Use if you changed the categories or if there was an error updating previously.') }}</small>
        {% endif %}

        <hr>

        <h6>{{ _('Metadata to collect in the Campaign') }}*<button type="button" class="btn btn-link py-0" data-container="body" data-toggle="popover" data-placement="right" data-trigger="focus" data-content="{{ _('Choose what type of <strong>metadata</strong> you want to collect in your campaign.') }} {{ _('You must select at least one of the options below.') }} {{ _('To learn more about Depicts and Caption meta-data, see the help page.') }}"><i class="fas fa-question-circle"></i></button></h6>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="depicts_metadata">{{ _('Depicts') }}</label>
                <!-- We test for errors in the form data here -->
                {% if form.depicts_metadata.errors %}
                {{ form.depicts_metadata( class="form-control form-control-sm is-invalid" ) }}
                <div class="invalid-feedback">
                    {% for error in form.depicts_metadata.errors %}
                    <span> {{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.depicts_metadata( class="checkbox-inline mt-1 metadata-type-checkbox" ) }}
                {% endif %}
                <small id="depicts-metadataHelp" class="form-text text-muted">{{ _('Select to collect Depicts metadata in the campaign') }}</small>
            </div>
            <div class="form-group col-md-6">
                <label for="captions_metadata">{{ _('Captions') }}</label>
                <!-- We test for errors in the form data here -->
                {% if form.captions_metadata.errors %}
                {{ form.captions_metadata( class="form-control form-control-sm is-invalid" ) }}
                <div class="invalid-feedback">
                    {% for error in form.captions_metadata.errors %}
                    <span> {{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.captions_metadata( class='checkbox-inline mt-1 metadata-type-checkbox' ) }}
                {% endif %}
                <small id="caption-metadataHelp" class="form-text text-muted">{{ _('Select to collect Caption metadata in the campaign') }}</small>
            </div>
        </div>

        <hr>

        <div class="form-group">
            <label for="campaign_image">{{ _('Campaign Image') }} <button type="button" class="btn btn-link py-0" data-container="body" data-toggle="popover" data-trigger="focus"  data-placement="right" data-content="{{ _('The maximum height for the campaign image is 150px. Images should either be a banner image or a logo.')}} {{ _('Portrait or square photos are not recommended.') }}"><i class="fas fa-question-circle"></i></button></label>
            <!-- We test for errors in the form data here -->
            {% if form.campaign_image.errors %}
            {{ form.campaign_image( class="form-control form-control-sm is-nvalid" ) }}
            <div class="invalid-feedback">
                {% for error in form.campaign_name.errors %}
                <span> {{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.campaign_image( class="form-control form-control-sm" ) }}
            {% endif %}
            <small id="campaign_imageHelp" class="form-text text-muted">{{ _('Enter the FILE NAME only of a image from commons to display on the Campaign home page.') }}</small>
        </div>

        <hr>

        <div class="form-group">
            <label for="long_description">{{ _('Long description of Campaign (full about info)') }}</label>
            <!-- We test for errors in the form data here -->
            {% if form.long_description.errors %}
            {{ form.long_description( class="form-control form-control-sm is-invalid" ) }}
            <div class="invalid-feedback">
                {% for error in form.long_description.errors %}
                <span> {{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.long_description( class="form-control form-control-md" ) }}
            {% endif %}
            <small id="long_descriptionHelp" class="form-text text-muted">{{ _('Why it is important that users contribute to the campaign?') }}</small>
        </div>

        <hr>

        <div class="form-group text-center">
            {{ form.submit( class="btn btn-primary", value=_('Publish Campaign') ) }}
            <div id="category-checking-notice" class="mt-3 d-none">
                <p>Checking category selections...</p>
                <div class="spinner-border text-secondary" role="status" aria-hidden="true"></div>
            </div>
        </div>
    </form>
</div>
<div class="hidden-i18n-text">
    {
        "You must select at least one category for your campaign.": {{ _('You must select at least one category for your campaign.')|tojson }},
        "Some of the categories you have chosen do not have the correct syntax for a Wiki Loves Campaign.": {{ _('Some of the categories you have chosen do not have the correct syntax for a Wiki Loves Campaign.')|tojson }},
        "Please check your selections and try again.": {{ _('Please check your selections and try again.')|tojson }},
        "Please select at least one type from the Metadata to collect section": {{ _('Please select at least one type from the Metadata to collect section')|tojson }}
    }
</div>
{% endblock content %}
{% block scripts %}
<link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
<script type="text/javascript" src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
<script src="{{url_for('static', filename='js/campaign-form.js')}}"></script>
{% endblock scripts%}
