{% extends "main/layout.html" %}
{% block content%}
<header class="container page-header text-center">
    
        <h1>ISA - {{ _('Campaigns') }}</h1>
 <hr>
    <p>{{ _('On this page are the curated campaigns that are currently running as part of the ISA tool.')}} {{ _('Click on the name of a campaign to get started and add structured data to an image.') }} {{ _('You can access information on the previous Campaigns in the Archive section.') }}</p>
    

</header>
<div class="container">
    <section id="campaigns">
<!--        <div class="section-header">
            <h3>{{ _('Ongoing Campaigns') }}</h3>
        </div>-->
        <br>
        <table id="campaign_table" class="display table table-bordered" style="width: 100%">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" title="{{ _('Campaign name') }}">{{ _('Campaign') }}</th>
                    <th scope="col" title="{{ _('Total number of images in the campaign') }}">{{ _('Images') }}</th>
                    <th scope="col" title="{{ _('Number of editors that have contributed to the campaign ') }}">{{ _('Participants') }}</th>
                    <th scope="col" title="{{ _('Total number of contributions to the campaign') }}">{{ _('Contributions') }}</th>
                    <th scope="col" title="{{ _('Campaign start date') }}">{{ _('Start Date') }}</th>
                    <th scope="col" title="{{ _('Campaign end date') }}">{{ _('End Date') }}</th>
                    <th scope="col" title="{{ _('Date the campaign was created') }}">{{ _('Creation Date') }}</th>
                    <th scope="col" title="{{ _('Campaign status') }}">{{ _('Status') }}</th>
                    <!-- The next column is hidden and used only for filtering --> 
                    <!-- It stores 1 or 0 to determine open status, so does not depend on UI language -->
                    <th scope="col"></th>
                    <th scope="col">{{ _('Get Started') }}</th>
                </tr>
            </thead>
            <tbody>
            {% for campaign in campaigns %}
                <tr>
                    <td><span class="">{{ campaign.campaign_name }}</span></td>
                    <td>{{ campaign.campaign_images }}</td>
                    <td>{{ campaign.campaign_participants }}</td>
                    <td>{{ campaign.campaign_contributions }}</td>
                    <td><span class="">{{ campaign.start_date.strftime("%d-%m-%y") }}</span></td>

                    {% if campaign.end_date == None %}
                    <td><span class="">{{ _('None') }}</span></td>
                    {% else %}
                        <td><span class="">{{ campaign.end_date.strftime("%d-%m-%y") }}</span></td>
                    {% endif %}

                    <td><span class="">{{ campaign.creation_date.strftime("%d-%m-%y") }}</span></td>
                    <!-- Add status and boolean hidden columns depending on end date -->
                    {% if campaign.end_date and campaign.end_date.strftime("%y-%m-%d") < datetime.now().date().strftime("%y-%m-%d") %}
                        <td><span class=""> {{ _('Closed') }} </span></td>
                        <td>0</td>
                    {% else %}
                        <td><span class="">{{ _('Open') }}</span></td>
                        <td>1</td>
                    {%  endif %}
                    
                    <td><a href="{{url_for('campaigns.getCampaignById', id=campaign.id) }}" title="{{ _('Go to the campaign home page to get started') }}">{{ _('Go to Campaign') }}</a></td>
                </tr>
            {% endfor%}
            </tbody>
        </table>
    </section>
<div class="custom-control custom-checkbox show-closed">
  <input type="checkbox" class="custom-control-input" id="show-closed-campaigns-checkbox">
  <label class="custom-control-label" for="show-closed-campaigns-checkbox">{{_('Show closed campaigns')}}</label>
</div>
</div>
<div class="container text-center">
      {% if username != 'Guest' and username != False and username != None %}
    <a href="{{url_for( 'campaigns.CreateCampaign' )}}" class="btn btn-secondary" title="{{ _('Create your own campaign') }}">{{ _('Create a new campaign using this tool') }}</a>
    {% else %}
    <a href="{{url_for( 'campaigns.CreateCampaign' )}}" class="btn btn-secondary disabled" title="{{ _('Create your own campaign') }}">{{ _('Create a new campaign using this tool') }}</a>
    <p class="text-danger small">{{_('You must be logged in to create a campaign.')}}</p>
    {% endif %}

</div>
{% endblock content%}

{% block scripts %} 
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/r-2.2.2/datatables.min.js"></script>
<script src="{{url_for('static', filename='js/campaign-directory.js')}}"></script> 
{% endblock scripts%}