{% extends "main/layout.html" %}
{% block content%}
<style> 
body {padding-bottom: 50px}

    
@media (min-width: 992px) {
    body {padding-bottom:0}}
</style>
<div class="loading">
<div class="spinner-border text-secondary" role="status" aria-hidden="true"></div>
	<img src="{{ url_for('static', filename = 'ISA-Structured-Data-logo_landscape_white.png') }}" height="50" alt="">

</div>

<!-- Flash messages displayed and populated via JavaScript -->
<div class="isa-flash-message alert alert-success fade"></div>
<div class="isa-flash-message alert alert-danger fade"></div>

<div class="container px-0"> <a href="{{url_for('campaigns.getCampaignById', id=campaign.id ) }}" class="btn btn-outline-secondary btn-sm"><i class="fas fa-caret-left"></i> {{ campaign.campaign_name }}: {{ _('Home Page') }}</a> </div>


<div class="container px-0 image-wrapper bg-light">
    <button class="previous-image-btn btn btn-link btn-lg desktop-img-nav"> <i class="fas fa-chevron-left"></i>{{ _('PREV IMAGE') }}</button>
    <div class="img-holder"> <img src="default.jpg" alt=""><!-- src updated by JavaScript -->
        <div class="image-overlay px-3 small"><span id="image_author"></span> - <span id="image_credit">{{ _('Own work') }}</span> | <span id="image_license"><a href="https://creativecommons.org/licenses/by-sa/4.0" target="_blank">CC BY-SA 4.0</a></span></div>
    </div>
    <button id="" class="next-image-btn btn btn-link desktop-img-nav btn-lg">{{ _('NEXT IMAGE') }}<i class="fas fa-chevron-right"></i></button>
</div>
<div class="container px-0 bg-light">
    <div id="edit_image_info">
        <div class="image-desc">
            <p>{{ _('File') }}:&nbsp;<span id="image_name"></span></p>
            <p>{{ _('Description') }}:&nbsp;<span id="image_description"></span></p>
            <p>{{ _('Categories') }}:&nbsp;<span id="image_categories"></span></p>
            <p>{{ _('Camera Location') }}:&nbsp;<span id="image_camera_location"></span></p>
        </div>
        <div class="text-center">
            <button id="expand-meta-data" class="btn btn-sm btn-link"><i class="fas fa-caret-down"></i>&nbsp;{{ _('show all metadata from commons') }}</button>
        </div>
    </div>
</div>
{% if campaign.depicts_metadata %}
<div class="container edit-box">
    <div class="edit-box-header">
        <h4>{{ _('Depicts') }}
        <button type="button" class="btn btn-link py-0" data-container="body" title="POP-UP TITLE HERE" data-toggle="popover" data-placement="right" data-content="POP-UP TEXT HERE"><i class="fas fa-question-circle"></i></button>
        </h4>
        <div edit-type="depicts" class="edit-publish-btn-group text-right">
            <button class="btn btn-sm btn-link cancel-edits-btn" disabled>{{ _('Cancel') }}</button>
            <button type="submit" class="btn btn-sm btn-primary publish-edits-btn" disabled>{{ _('Save') }}</button>
        </div>
        {% if username == None %}
        <p class="text-danger small mb-1 text-right">{{_('Log in to publish changes')}}</p>
        {% endif %}  
        <p>{{ _('Search for things you see in the image') }}</p>
    </div>
    <div class="depicts-search">
        <div class="input-group mb-3">
            <div class="input-group-prepend"> <span class="input-group-text"><i class="fas fa-search"></i></span> </div>
            <select id="depicts-select" class="form-control">
            </select>
        </div>
    </div>
    <div class="depict-tag-group"> 
        <!-- populated by JavaScript --> 
    </div>
    <p class="small text-muted my-1 prom-help"><i class="fas fa-flag mr-2"></i>{{ _('Mark as Prominent') }}</p>
</div>
{% endif %}

{% if campaign.captions_metadata %}
<div class="container edit-box">
    <div class="edit-box-header">
        <h4>{{ _('Captions') }} <button type="button" class="btn btn-link py-0" data-container="body" title="POP-UP TITLE HERE" data-toggle="popover" data-placement="right" data-content="POP-UP TEXT HERE"><i class="fas fa-question-circle"></i></button></h4>
        <div edit-type="captions" class="edit-publish-btn-group text-right">
            <button class="btn btn-sm btn-link cancel-edits-btn" disabled>{{ _('Cancel') }}</button>
            <button type="submit" class="btn btn-sm btn-primary publish-edits-btn" disabled>{{ _('Save') }}</button>
        </div>
        {% if username == None %}
        <p class="text-danger small mb-1 text-right">{{_('Log in to publish changes')}}</p>
        {% endif %}
        <p>{{ _('Add a caption for the image') }}</p>
    </div>
    <div class="caption-search"> {% for lang_code in caption_languages %}
        <div class="input-group mb-3">
            <div class="input-group-prepend"> <span class="input-group-text">{{lang_code}}</span> </div>
            <input type="input" class="form-control caption-input" lang="{{lang_code}}" placeholder="{{ _('write a caption') }}">
        </div>
        {% endfor %}
    </div>
    <p class="small text-muted my-1">{{ _('Add or change available languages in Caption Languages') }}</p>
</div>
{% endif %}
<div class="participate-nav-footer container">
    <div class="btn-group d-flex" role="group" aria-label="">
        <button class="previous-image-btn btn btn-primary w-100"><i class="fas fa-chevron-left"></i>{{ _('PREV IMAGE') }}</button>
        <button class="next-image-btn btn btn-primary w-100">{{ _('NEXT IMAGE') }}<i class="fas fa-chevron-right"></i></button>
    </div>
</div>
{% endblock content%}
{% block scripts %} 
<script src="{{url_for('static', filename='js/participate.js')}}"></script> 
{% endblock scripts%}