{% extends "main/layout.html" %}
{% from "campaign/macros.html" import images %}
{% block content%}
<a href="{{url_for('campaigns.getCampaignById', id=campaign.id ) }}" class="btn btn-outline-secondary btn-sm close-stats"><i class="fas fa-caret-left"></i> {{ campaign.campaign_name }}: {{ _('Home Page') }}</a> 
<h6 class="text-center text-muted">{{ _('CONTRIBUTIONS TO A STRUCTURED DATA CAMPAIGN') }}</h6>
<div class="container page-header stats-page text-center">
    <h2>{{ campaign.campaign_name }}</h2>
    <hr>
<div class="campaign-dates">
        <h6><strong>{{ _('From')}}: </strong> {{campaign.start_date}}</h6>
        <h6><strong>{{ _('Till') }}: </strong> {{campaign.end_date}}</h6>	
    </div>
</div>

<div class="container campaign-stats stats-page text-center">
    <div class="campaign-panel pt-4">

    <div class="main-stats-label-group mx-auto">
        <div class="stat-label" title="{{ _('Total number of images in this campaign') }}"><strong>{{ _('Images') }}:</strong> {{ images(campaign) }}</div>
        <div class="stat-label" title="{{ _('Total number of contributions made to this campaign') }}"><strong>{{ _('Contributions') }}:</strong> {{ campaign_contributions }}</div>

    </div>
    <div class="stats-table mx-auto">
        <div class="top-user-table mr-md-4">
            <div id="contributorChartContainer" style="height: 300px; width: 100%;"></div>
        </div>

        {% if is_wiki_loves_campaign %}
        <div class="top-country-table mr-md-4">
            <div id="countryChartContainer" style="height: 300px; width: 100%;"></div>
        </div>
        {% endif %}
    </div>
    <br>
   
    <!--<div class="stats-table mx-auto">
                <div class="top-user-table mr-md-4">				
            <table class="table table-sm table-light text-center">
                <h6>{{ _('Top Contributors') }}</h6>
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">{{ _('Contributor') }}</th>
                        <th scope="col">{{ _('Contributions') }}</th>
                    </tr>
                </thead>
                {% if all_contributors_data %}
                <tbody>
                {% for contributor_data in all_contributors_data %}
                    <tr>
                        <th scope="row">{{contributor_data['rank']}}</th>
                        <td>{{contributor_data['username']}}</td>
                        <td>{{contributor_data['images_improved']}}</td>
                    </tr>
                {% endfor %}
                </tbody>
                {% else %}
                <tbody>
                    <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td class="text-center">{{ _('No partcipants has contributed to this campaign') }}</td>
                    </tr>
                </tbody>
                {% endif %}
            </table>
        </div>
        {% if is_wiki_loves_campaign %}
            <div class="top-country-table mr-md-4">
                <table class="table table-sm table-light text-center">
                    <h6>{{ _('Most improved Countries') }}</h6>
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">{{ _('Country') }}</th>
                                <th scope="col">{{ _('Contributions') }}</th>
                            </tr>
                        </thead>
                        {% if all_campaign_country_statistics_data %}
                            <tbody>
                                {% for country_statistics_data in all_campaign_country_statistics_data %}
                                    <tr>
                                        <th scope="row">{{country_statistics_data['rank']}}</th>
                                        <td>{{country_statistics_data['country']}}</td>
                                        <td>{{country_statistics_data['images_improved']}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        {% else %}
                            <tbody>
                                <tr>
                                    <th scope="row"></th>
                                    <td></td>
                                    <td class="text-center">{{ _('There is no data available yet for this campaign') }}</td>
                                </tr>
                            </tbody>
                        {% endif %}
                </table>
            </div>
        {% endif %}
    </div>-->
   
           <div class="stats-meta mb-3">
        <p>{{campaign.short_description}}</p>
        <p>Source: ISA Tool |  <a href="{{url_for('campaigns.getCampaignById', id=campaign.id ) }}"> tools.wmflabs.org{{url_for('campaigns.getCampaignById', id=campaign.id ) }} </a></p>
         <p>License: CC BY SA 4.0</p>
        </div>
        <a  class="btn btn-sm btn-primary" href="{{url_for('campaigns.downloadAllCampaignStats', id=campaign.id, filename=campaign_all_stats_csv_file) }}">{{ _('Download all stats (CSV)') }}</a>
    </div></div>
 
    <div class="hidden-i18n-text">
        {
            "Contributor Stats": "{{ _('Contributor Stats') }}",
            "Country Stats": "{{ _('Country Stats') }}"
        }
    </div>
{% endblock content%}
{% block scripts%}
    <script src="{{url_for('static', filename='js/stats.js')}}"></script>
{% endblock scripts%}
