{% extends "main/layout.html" %}
{% block content%}
<style>
body {padding-bottom: 50px}

@media (min-width: 992px) {
    body {padding-bottom:0}
}
</style>
<div class="loading">
    <div class="spinner-border text-secondary" role="status" aria-hidden="true"></div>
	<img src="{{ url_for('static', filename = 'ISA-Structured-Data-logo_landscape_white.png') }}" height="50" alt="">
</div>

<!-- Flash messages displayed and populated via JavaScript -->
<div class="isa-flash-message alert alert-success fade"></div>
<div class="isa-flash-message alert alert-danger fade"></div>

<div class="container px-0"> <a href="{{url_for('campaigns.getCampaignById', id=campaign.id ) }}" class="btn btn-outline-secondary btn-sm" title="{{ _('Return to the campaign home page') }}"><i class="fas fa-caret-left"></i> {{ campaign.campaign_name }}: {{ _('Home Page') }}</a> </div>


<div class="container px-0 image-wrapper bg-light">
    <button class="previous-image-btn btn btn-link btn-lg desktop-img-nav"  title="{{ _('View the previous image') }}"><i class="fas fa-chevron-left"></i>{{ _('PREV IMAGE') }}</button>
    <div class="img-holder"><img src="{{url_for('static',filename='default.jpg')}}" alt=""><!-- src updated by JavaScript -->
        <div class="image-overlay px-3 small"><span id="image_author"></span> | <span id="image_credit">{{ _('Own work') }}</span> | <span id="image_license"><a href="https://creativecommons.org/licenses/by-sa/4.0" target="_blank">CC BY-SA 4.0</a></span></div>
    </div>
    <button id="" class="next-image-btn btn btn-link desktop-img-nav btn-lg" title="{{ _('View the next image') }}">{{ _('NEXT IMAGE') }}<i class="fas fa-chevron-right"></i></button>
</div>
<div class="container px-0 bg-light">
    <div id="edit_image_info">
        <div class="image-desc">
            <p>{{ _('File') }}:&nbsp;<span id="image_name" title="{{ _('Open this image on Wikimedia Commons') }}"></span></p>
            <p>{{ _('Description') }}:&nbsp;<span id="image_description"></span></p>
            <p>{{ _('Categories') }}:&nbsp;<span id="image_categories"></span></p>
            <p>{{ _('Camera Location') }}:&nbsp;<span id="image_camera_location"></span></p>
        </div>
        <div class="text-center">
            <button id="expand-meta-data" class="btn btn-sm btn-link"><i class="fas fa-caret-down"></i>&nbsp; {{ _('show all metadata from commons') }} </button>
        </div>
    </div>
</div>
{% if campaign.depicts_metadata %}
<div class="container edit-box">
    <div class="edit-box-header">
        <h4>{{ _('Depicts') }}
        <button type="button" class="btn btn-link py-0" data-container="body" title="{{_('Adding Depict Statements') }}" data-toggle="popover" data-trigger="focus" data-placement="right" data-content="{{_('Make it Simple: Use simple words and concepts to describe what you see in each image (e.g. cat, mountain, Taj Mahal)')}}
"><i class="fas fa-question-circle"></i></button>
        </h4>
        <div edit-type="depicts" class="edit-publish-btn-group text-right">
            <button class="btn btn-sm btn-link cancel-edits-btn" disabled title="{{ _('Cancel your changes') }}">{{ _('Cancel') }}</button>
            <button type="submit" class="btn btn-sm btn-primary publish-edits-btn" disabled title="{{ _('Save your edits to Wikimedia Commons') }}">{{ _('Save') }}</button>
        </div>
        {% if username is none %}
        <p class="text-danger small mb-1 text-right">{{_('You will be redirected to login and back here to save your changes')}}</p>
        {% endif %}
        <p>{{ _('Name the different elements that you can see in this image') }}</p>
    </div>
    <div class="depicts-search">
        <div class="input-group mb-3">
            <div class="input-group-prepend"> <span class="input-group-text"><i class="fas fa-search"></i></span> </div>
            <select id="depicts-select" class="form-control">
            </select>
        </div>
    </div>
    <div id="depict-tag-suggestions-container">
        <h5>Suggestions</h5>
        <div class="depict-tag-suggestions">
        </div>
    </div>
    <div class="depict-tag-group">
        <!-- populated by JavaScript -->
    </div>
    <p class="small text-muted my-1 prom-help">{{ _('To mark the prominent elements in the image, click on the flag icon') }} <i class="fas fa-flag mr-2"></i></p>
</div>
{% endif %}

{% if campaign.captions_metadata %}
<div class="container edit-box">
    <div class="edit-box-header">
        <h4>{{ _('Captions') }} <button type="button" class="btn btn-link py-0" data-container="body" title="{{_('Writing Captions')}}" data-toggle="popover" data-trigger="focus" data-placement="right" data-content="{{_('Include any culturally specific, scientific or technical information that you can identify (e.g. the Ethiopian Coffee Ceremony or bunna maflat) to make the information richer.')}}"><i class="fas fa-question-circle"></i></button></h4>
        <div edit-type="captions" class="edit-publish-btn-group text-right">
            <button class="btn btn-sm btn-link cancel-edits-btn" disabled>{{ _('Cancel') }}</button>
            <button type="submit" class="btn btn-sm btn-primary publish-edits-btn" disabled>{{ _('Save') }}</button>
        </div>
        {% if username is none %}
        <p class="text-danger small mb-1 text-right">{{_('Log in to publish changes')}}</p>
        {% endif %}
        <p>{{ _('Add a caption to better explain the image (max 255 characters)') }}</p>
    </div>
    <div class="caption-search"> {% for lang_code in caption_languages %}
        <div class="input-group mb-3">
            <div class="input-group-prepend"> <span class="input-group-text">{{lang_code}}</span> </div>
            <input type="input" class="form-control caption-input" lang="{{lang_code}}" placeholder="{{ _('Briefly explain what you see in this image.') }}">
        </div>
        {% endfor %}
    </div>
    <p class="small text-muted my-1">{{ _('You can add captions in additional languages by selecting Language Preferences from the user menu') }}</p>
</div>
{% endif %}
<div class="participate-nav-footer container">
    <div class="btn-group d-flex" role="group" aria-label="">
        <button class="previous-image-btn btn btn-primary w-100"><i class="fas fa-chevron-left"></i>{{ _('PREV IMAGE') }}</button>
        <button class="next-image-btn btn btn-primary w-100">{{ _('NEXT IMAGE') }}<i class="fas fa-chevron-right"></i></button>
    </div>
</div>

<div class="hidden-i18n-text">
    {
        "No images found for this campaign!": {{ _('No images found for this campaign!')|tojson }},
        "Something went wrong getting campaign images": {{ _('Something went wrong getting campaign images')|tojson }},
        "Search for things you see in the image": {{ _('Search for things you see in the image')|tojson }},
        "minimise metadata from commons": {{ _('minimise metadata from commons')|tojson }},
        "show all metadata from commons": {{ _('show all metadata from commons')|tojson }},
        "Success! Depicted items saved to Wikimedia Commons": {{ _('Success! Depicted items saved to Wikimedia Commons')|tojson }},
        "Success! Captions saved to Wikimedia Commons": {{ _('Success! Captions saved to Wikimedia Commons')|tojson }},
        "Oops! Something went wrong, your edits have not been saved to Wikimedia Commons": {{ _('Oops! Something went wrong, your edits have not been saved to Wikimedia Commons')|tojson }},
        "Are you sure you want to navigate to another image? You have unsaved changes which will be lost.": {{ _('Are you sure you want to navigate to another image? You have unsaved changes which will be lost.')|tojson }},
        "Click 'OK' to proceed anyway, or 'Cancel' if you want to save changes first.": {{ _("Click 'OK' to proceed anyway, or 'Cancel' if you want to save changes first.")|tojson }},
        "Remove this depicted item": {{ _('Remove this depicted item')|tojson }},
        "Mark this depicted item as prominent": {{ _('Mark this depicted item as prominent')|tojson }},
        "Mark this depicted item as NOT prominent": {{ _('Mark this depicted item as NOT prominent')|tojson }}
    }
</div>
{% endblock content%}
{% block scripts %}
<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery-zoom/1.7.21/jquery.zoom.min.js"></script>
<script src="{{url_for('static', filename='js/participate.js')}}"></script>
{% endblock scripts%}
