{% extends "main/layout.html" %}
{% block content%}
<header class="container page-header text-center">
    
        <h1>ISA - {{ _('Campaigns') }}</h1>
 <hr>
    <p>{{ _('On this page are the curated campaigns that are currently running as part of the ISA tool.')}} {{ _('Click on the name of a campaign to get started and add structured data to an image.') }} {{ _('You can access information on the previous Campaigns in the Archive section.') }}</p>
    
      {% if username != 'Guest' and username != False and username != None %}
    <a href="{{url_for( 'campaigns.CreateCampaign' )}}" class="btn btn-primary">{{ _('Create a new campaign using this tool') }}</a>       
    {% endif %}
</header>
<div class="container">
    <section id="campaigns">
        <div class="section-header">
            <h3>{{ _('Ongoing Campaigns') }}</h3>
        </div>
        <br>
        <table id="campaign_table" class="display table table-bordered" style="width: 100%">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">{{ _('Campaign') }}</th>
                    <th scope="col">{{ _('Images') }}</th>
                    <th scope="col">{{ _('Participants') }}</th>
                    <th scope="col">{{ _('Contributions') }}</th>
                    <th scope="col">{{ _('Start Date') }}</th>
                    <th scope="col">{{ _('End Date') }}</th>
                    <th scope="col">{{ _('Creation Date') }}</th>
                    <th scope="col">{{ _('Status') }}</th>
                    <th scope="col">Get Started</th>
                </tr>
            </thead>
            <tbody>
            {% for campaign in campaigns %}
                <tr>
                    <td><span class="">{{ campaign.campaign_name }}</span></td>
                    <td>{{ campaign.campaign_images }}</td>
                    <td>{{ campaign.campaign_participants }}</td>
                    <td>{{ campaign.campaign_contributions }}</td>
                    <td><span class="">{{ campaign.start_date.strftime("%d-%m-%y") }}</span></td>
                    <td><span class="">{{ campaign.end_date.strftime("%d-%m-%y") }}</span></td>
                    <td><span class="">{{ campaign.creation_date.strftime("%d-%m-%y") }}</span></td>
                    <td>
                        {% if campaign.end_date.strftime("%d-%m-%y") < datetime.now().strftime("%d-%m-%y") %}
                        <span class=""> {{ _('Closed') }}</span>
                        {% else %}
                        <span class="">{{ _('Open') }}</span>
                        {%  endif %}
                    </td>
                    <td><a href="{{url_for('campaigns.getCampaignById', id=campaign.id) }}">{{ _('Go to Campaign') }}</a></td>
                </tr>
            {% endfor%}
            </tbody>
        </table>
    </section>
</div>
<div class="container text-center">


</div>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.2.2/js/dataTables.responsive.min.js"></script>
{% endblock content%}

