{% extends "main/layout.html" %}
{% block content %}
<div class="container text-center page-header">
    <h1 class=" pt-1 pb-0 d-flex justify-content-center">{{ _('Create new Campaign') }}</h1>
    <hr class="pt-0" width="35%">
    <p> {{ _('Fill in the form below to create you campaign') }}, <br> {{ _('Fields marked with * are mandatory') }}</p>
</div>

<div class="container">
    <form  class="" method="POST" action="">
        {{ form.csrf_token }}
        <!-- {{ form.campaign_name.label( class="form-control-label" ) }} -->

        <div class="form-group">
            <label for="campaign_name">{{ _('Campaign Name') }}</label>
            <!-- We test for errors in the form data here -->
            {% if form.campaign_name.errors %}
            {{ form.campaign_name( class="form-control form-control-sm is-nvalid" ) }}
            <div class="invalid-feedback">
                {% for error in form.campaign_name.errors %}
                <span> {{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.campaign_name( class="form-control form-control-sm" ) }}
            {% endif %}
            <small id="campaign_nameHelp" class="form-text text-muted">Instructions for input</small>
        </div>
        
        <hr>
        
        <div class="form-group">
            <!-- {{ form.short_description.label( class="form-control-label " ) }} -->
            <label for="short_description">{{ _('Short description of Campaign') }}</label>
            <!-- We test for errors in the form data here -->
            {% if form.short_description.errors %}
            {{ form.short_description( class="form-control form-control-lg is-invalid" ) }}
            <div class="invalid-feedback">
                {% for error in form.short_description.errors %}
                <span> {{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.short_description( class="form-control form-control-sm" ) }}
            {% endif %}
            <small id="short_descriptionHelp" class="form-text text-muted">instructions for input</small>
        </div>
       
        <hr>
        
        <div class="form-row">
            <div class="form-group col-md-6">
                <!--  <div class="input-group date">-->
                <label for="datepick1">{{ _('Start Date') }}</label>
                <!-- We test for errors in the form data here -->
                {% if form.start_date.errors %}
                {{ form.start_date( class="form-control form-control-sm is-invalid" ) }}
                <div class="invalid-feedback">
                    {% for error in form.start_date.errors %}
                    <span> {{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.start_date( class="form-control form-control-sm" ) }}
                {% endif %}
                <small id="datepick1Help" class="form-text text-muted">Set campaign start date</small>               
            </div>
            <div class="form-group col-md-6">
                <label for="datepick2">{{ _('End Date') }}</label>
                <!-- We test for errors in the form data here -->
                {% if form.end_date.errors %}
                {{ form.end_date( class="form-control form-control-md is-invalid" ) }}
                <div class="invalid-feedback">
                    {% for error in form.end_date.errors %}
                    <span> {{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.end_date( class="form-control form-control-sm" ) }}
                {% endif %}
                <small id="datepick2Help" class="form-text text-muted">Set campaign end date</small>            
            </div>
        </div>     
        
        <hr>
        
        <div class="form-group">
            <label for="category-search">{{ _('Categories') }}<span><i class="fas fa-question-circle" data-toggle="tooltip" data-placement="right" title="select a category by clicking on it"></i></span></label>
            <!-- We test for errors in the form data here -->
            {% if form.categories.errors %}
            {{ form.categories( class="form-control form-control-lg is-invalid" ) }}
            <div class="invalid-feedback">
                {% for error in form.categories.errors %}
                <span> {{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.categories( id="categories-data", class="form-control form-control-sm") }}
            {% endif %}

            <!-- Category selection UI which is NOT submitted in the form --> 
            <select id="category-search" class="w-100"></select>
            <small id="category-searchHelp" class="form-text text-muted">Choose categories to use in the campaign</small>
            <table class="w-100 table table-striped">
                <thead id="selected-categories-header">
                    <tr>
                    <th>{{ _('Name') }}</th>
                    <th>{{ _('Depth') }}</th>
                    </tr>
                </thead>
                <tbody id="selected-categories-content">
                    <!-- populated by JavaScript -->
                </tbody>
            </table>
        </div>

        <hr>

        <h6>{{ _('Metadata to collect in the Campaign') }}</h6>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="depicts_metadata">{{ _('Depicts') }}</label>
                <!-- We test for errors in the form data here -->
                {% if form.depicts_metadata.errors %}
                {{ form.depicts_metadata( class="form-control form-control-sm is-invalid" ) }}
                <div class="invalid-feedback">
                    {% for error in form.depicts_metadata.errors %}
                    <span> {{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.depicts_metadata( class="checkbox-inline mt-1" ) }}
                {% endif %}
                <small id="depicts-metadataHelp" class="form-text text-muted">Select to collect Depicts metadata in the campiagn</small>       
            </div>
            <div class="form-group col-md-6">         
                <label for="captions_metadata">{{ _('Captions') }}</label>
                <!-- We test for errors in the form data here -->
                {% if form.captions_metadata.errors %}
                {{ form.captions_metadata( class="form-control form-control-sm is-invalid" ) }}
                <div class="invalid-feedback">
                    {% for error in form.captions_metadata.errors %}
                    <span> {{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.captions_metadata( class='checkbox-inline mt-1' ) }}
                {% endif %}
                <small id="caption-metadataHelp" class="form-text text-muted">Select to collect Caption metadata in the campiagn</small>       
            </div>
        </div>

        <hr>    
        
        <div class="form-group">
            <label for="campaign_type">{{ _('This is a Wiki Loves Campaign') }}</label>
            <!-- We test for errors in the form data here -->
            {% if form.campaign_type.errors %}
            {{ form.campaign_type( class="form-control form-control-sm is-invalid" ) }}
            <div class="invalid-feedback">
                {% for error in form.campaign_type.errors %}
                <span> {{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.campaign_type( class="checkbox-inline mt-1" ) }}
            {% endif %}
            <small id="campaign_typeHelp" class="form-text text-muted">Select if this is a Wiki Loves Campaign (important)</small>       
        </div>

        <hr>
        
        <div class="form-group">
            <label for="long_description">{{ _('Long description of Campaign (full about info)') }}</label>
            <!-- We test for errors in the form data here -->
            {% if form.long_description.errors %}
            {{ form.long_description( class="form-control form-control-sm is-invalid" ) }}
            <div class="invalid-feedback">
                {% for error in form.long_description.errors %}
                <span> {{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.long_description( class="form-control form-control-md" ) }}
            {% endif %}
            <small id="long_descriptionHelp" class="form-text text-muted">Instructions for input</small>       
        </div>
        
        <hr>
        
        <div class="form-group text-center">
            {{ form.submit( class="btn btn-primary", value=_('Publish Campaign') ) }}
        </div>
    </form>
</div>

{% endblock content %}
{% block scripts %}
<script src="{{url_for('static', filename='js/campaign-form.js')}}"></script>
{% endblock scripts%}