{% extends "main/layout.html" %}
{% block content %}
<div class="container">
    <strong><h5 class=" pt-1 pb-0 d-flex justify-content-center"> Create new Campaign </h5></strong>
    <hr class="pt-0" width="35%">
    <div class="pt-0 mt-0 text-center">
        <small> Fill in the form below to create you campaign, <br> Fields marked with * are mandatory</small>
    </div>
    <div class="d-flex justify-content-center">
        <form  class="" method="POST" action="">
            {{ form.csrf_token }}
            {{ form.campaign_name.label( class="form-control-label" ) }}
            <div class="form-group">
                <!-- We test for errors in the form data here -->
                 {% if form.campaign_name.errors %}
                    {{ form.campaign_name( class="form-control form-control-sm is-nvalid" ) }}
                    <div class="invalid-feedback">
                        {% for error in form.campaign_name.errors %}
                        <span> {{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.campaign_name( class="form-control form-control-sm" ) }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.short_description.label( class="form-control-label " ) }}
                <!-- We test for errors in the form data here -->
                {% if form.short_description.errors %}
                    {{ form.short_description( class="form-control form-control-lg is-invalid" ) }}
                    <div class="invalid-feedback">
                        {% for error in form.short_description.errors %}
                            <span> {{ error }}</span>
                        {% endfor %}
                   </div>
                {% else %}
                    {{ form.short_description( class="form-control form-control-sm" ) }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.manager_name.label( class="form-control-label" ) }}
                <!-- We test for errors in the form data here -->
                 {% if form.manager_name.errors %}
                    {{ form.manager_name( class="form-control form-control-sm is-nvalid" ) }}
                    <div class="invalid-feedback">
                        {% for error in form.manager_name.errors %}
                        <span> {{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.manager_name( class="form-control form-control-sm" ) }}
                {% endif %}
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6 ml-auto">
                        <div class="input-group date">
                            {{ form.start_date.label( class='datepicker' ) }} &nbsp;&nbsp;
                            <!-- We test for errors in the form data here -->
                            {% if form.start_date.errors %}
                                {{ form.start_date( class="form-control form-control-sm is-invalid" ) }}
                                <div class="invalid-feedback">
                                    {% for error in form.start_date.errors %}
                                        <span> {{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.start_date( class="form-control form-control-sm" ) }}
                            {% endif %}
                            </div>
                    </div>
                    <div class="col-sm-6 ml-auto">
                        <div class="input-group date">
                            {{ form.end_date.label( class='datepicker' ) }} &nbsp;&nbsp;
                            <!-- We test for errors in the form data here -->
                            {% if form.end_date.errors %}
                                {{ form.end_date( class="form-control form-control-md is-invalid" ) }}
                                <div class="invalid-feedback">
                                    {% for error in form.end_date.errors %}
                                        <span> {{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.end_date( class="form-control form-control-sm" ) }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div id="campaign_stats_table" class="pb-5 navbar-light bg-light text-center">
                    <div class="row">
                        <div class="col ">
                            <div class="pb-0 ml-auto">{{ form.categories.label( class="form-control-label" ) }}<span><i class="fas fa-question-circle" data-toggle="tooltip" data-placement="right" title="select a category by clicking on it"></i>
                            </span></div>
                            <!-- We test for errors in the form data here -->
                            {% if form.categories.errors %}
                                {{ form.categories( class="form-control form-control-lg is-invalid" ) }}
                                <div class="invalid-feedback">
                                    {% for error in form.categories.errors %}
                                        <span> {{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.categories( id="categories_select_options", class="form-control form-control-sm", multiple="multiple") }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                {{ form.categories_depth.label( class="form-control-label " ) }}
                <!-- We test for errors in the form data here -->
                {% if form.categories_depth.errors %}
                    {{ form.categories_depth( class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.categories_depth.errors %}
                            <span> {{ error }}</span>
                        {% endfor %}
                   </div>
                {% else %}
                    {{ form.categories_depth( class="form-control form-control-sm",type="number", min="0", max="5" ) }}
                {% endif %}
            </div>
           <div class="form-group">
                <div id="campaign_stats_table" class="pb-3 navbar-light bg-light text-center">
                    <small>Metadata to collect in the Cmapign</small>
                    <div class="row pt-2">
                        <div class="col-sm-6 mr-auto">
                            <div class="input-group date">
                                    <small><strong>{{ form.depicts_metadata.label( class='' ) }}</strong></small> &nbsp;
                                <!-- We test for errors in the form data here -->
                                {% if form.depicts_metadata.errors %}
                                    {{ form.depicts_metadata( class="form-control form-control-sm is-invalid" ) }}
                                    <div class="invalid-feedback">
                                        {% for error in form.depicts_metadata.errors %}
                                            <span> {{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.depicts_metadata( class="checkbox-inline mt-1" ) }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-sm-6 mr-auto">
                            <div class="input-group">
                                <small><strong>{{ form.captions_metadata.label( class='' ) }}</strong></small>&nbsp;
                                <!-- We test for errors in the form data here -->
                                {% if form.captions_metadata.errors %}
                                    {{ form.captions_metadata( class="form-control form-control-sm is-invalid" ) }}
                                    <div class="invalid-feedback">
                                        {% for error in form.captions_metadata.errors %}
                                            <span> {{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.captions_metadata( class='checkbox-inline mt-1' ) }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar-light bg-light">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6 ml-auto mr-auto">
                            <div class="input-group date pt-3">
                                    *&nbsp;&nbsp;{{ form.campaign_type.label( class='datepicker' ) }} &nbsp;&nbsp;
                                <!-- We test for errors in the form data here -->
                                {% if form.campaign_type.errors %}
                                    {{ form.campaign_type( class="form-control form-control-sm is-invalid" ) }}
                                    <div class="invalid-feedback">
                                        {% for error in form.campaign_type.errors %}
                                            <span> {{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.campaign_type( class="form-control form-control-sm mt-2" ) }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                {{ form.long_description.label( class="form-control-label" ) }}
                <!-- We test for errors in the form data here -->
                {% if form.long_description.errors %}
                    {{ form.long_description( class="form-control form-control-sm is-invalid" ) }}
                    <div class="invalid-feedback">
                        {% for error in form.long_description.errors %}
                            <span> {{ error }}</span>
                        {% endfor %}
                   </div>
                {% else %}
                    {{ form.long_description( class="form-control form-control-md" ) }}
                {% endif %}
            </div>
            <div class="form-group text-center">
                {{ form.submit( class="btn btn-primary" ) }}
            </div>
        </form>
    </div>
</div>
{% endblock content %}
{% block scripts %}
    <script src="{{url_for('static', filename='js/campaign-form.js')}}"></script>
{% endblock scripts%}