/* Add a black background color to the top navigation */
.topnav {
    background-color: #332;
    overflow: hidden;
}
  
/* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
}
  
.nav-link:hover {
    border-bottom: 3px solid red;
}
  
.topnav a.active {
    border-bottom: 3px solid red;
}

.main-page {
  padding-top: 40px;
  padding-bottom: 30px;
}

.main-page h1 {
    font-weight: 300;
    margin-bottom: -55px;
    margin-top: -40px
}

.explore-campaigns {
  padding-bottom: 20px;
}

.form-control {
  width: 100%;
}

.campaign-select, .filter-select, .sort-select {
  cursor: pointer;
  float: right;
  margin: 10px 10px 10px 0;
}


.table {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
  width: 95%;
  padding-top: 0px;
}
.table th {
	padding: 2px;
	background-color: #dedede;
}
.table td {
	padding: 2px;
	background-color: #ffffff;
}

.last_column{
  float: right;
}

#campaign_detail_table{
  vertical-align:top;
  padding: 0px;
}

#my_contributions_table{
  width: inherit;
}

#campaign_categories{
  height: 20%;
}

.campaign-link {
  margin-top: 15px;
}

div.dataTables_wrapper div.dataTables_filter input {
  margin-left: 0.5em;
  display: inline-block;
  width: 100%;
}

input[ type = search ] {
  border: 1px dotted #999;
  border-radius: 0;
  -webkit-appearance: none;
  width: 3100px
}

form {
  border:thin black solid;
  margin:10px;
  padding:10px;
}

.stat-display .stat-display__stat {
  margin: 0 20px 20px;
  text-align: center;
  width: calc(50% - 40px);
}
.stat-display .stat-display__stat .stat-display__value {
  font-family: inherit;
  color: #676eb4;
  font-size: 38px;
  margin: 0;
  font-weight: 300;
}

small {
  color: rgba(0,0,0,.35);
  text-indent: 50px;
}

.test {
  width: 70px;
  height: 65px;
  background-color: #d17474;
  display: table;
}

#next_small::before {
  content: '\00a0 \00a0 \00a0 \00a0';
}

.notice {
  padding: 10px;
  text-align: center;
  font-weight: 700;
}

.datetimepicker {
  height: 100px;
}

.form-group {
  padding-top: 0px;
  padding-bottom: 1px;
}

#edit_campaign{
  float: right;
}

#campaign_back_button {
  float: left;
  width: 100px;
}

#entry_image_card {
  height: 200px;
  max-width: 750px;
  float: left;
  padding: 0px;
}

#image_details_left_table {
  float: left;
  margin-right: -400pxpx;
  margin-left: 20px;
  border-bottom: 1px solid black
}

#image_details_left_right_table {
  float: right
}

.slide-control {
  width: 35px;
  height: 35px;
  text-align: center;
  margin-bottom: 0px;
  padding-top: 0px;
}

#caption_edit_section {
  margin-top: 0px;
  margin-top: 200px;
}

#edit_caption_button {
  margin-left: 50px;
  float: left;
}

.card-body {
  padding-top: 0.5px;
  padding-bottom: 60px;
  margin-bottom: 30px;
}

.lang_selector {
  margin-right: 0px;
}

.footer {
  padding-top: 190px;
}

.copyright {
  float: right;
  margin-right: 70px;
  margin-top: 10px;
}

#campaign_nav{
  height: 50px;
  padding-top: 2px;
}

#campaign_stats_table{
  padding-top: 20px;
}

#get_started_btn{
  height: 30px;
  padding-top: 0px;
}

select.selectpicker {
  background: transparent;
  width: 150px;
  padding: 2px;
  font-size: 13px;
  line-height: 1;
  border: 1px solid black;
  border-radius: 0.5;
  height: 34px;
  -webkit-appearance: none;
  font-family:helvetica-roman;
  color:#9C9C9C;
  background-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  text-indent: 20px;
  text-overflow: '';
  text-align: center;
}

.btn-new {
  background-color: white;
  width: 150px;
}

.select-option{
  max-width: inherit;
}

.campaign_progress_text{
  padding-top: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5px;
}

#get_started_btn {
  margin-right: 0px;
  margin-top: 4px;
  margin-left: 215px;
}