/* GLOBAL STYLES */

/*change btn-primary color*/
.btn-primary {
    background-color:#006699;
    border-color: #006699;
}
/*change btn-primary disabled state*/
.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.btn-danger {
    color: #fff;
    background-color: #990000;
    border-color: #990000;
}
.btn-outline-danger {
    color: #990000;
    border-color: #990000;
}
button.btn.btn-link {
    border: 0;
    vertical-align: baseline;
}

/* style the page titles and page header*/
.page-header h1 {
    margin: 0;
    text-transform: uppercase;
}

.page-header > hr {
    margin: 0.5rem auto;
    width:100%
}

/*make header p more pronounced*/
.page-header p {
    font-weight: 500;
    white-space: pre-wrap;
}

/* Justify about sections on mobile*/
.about-section p {
    text-align: justify
}


/*Style and position all pop-up alerts*/
.isa-flash-message {
    z-index: 1;
    position: sticky;
    top:0px;
    margin-bottom: 0px;
    display: none;
    padding: 10px;
    text-align: center;
    font-weight: 700;
}
/*force server side alerts are visible*/
.isa-flash-message.show {
    display: block;
}


/******** errors ********/
.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }
 /*end global*/



/********** HOME PAGE ***************/

/*make title extra big on home page*/
.home-page-title {
    font-size: 4.5rem!important;
}
/* end home page*/

/********* CAMPAIGNS PAGE ************/

/* Container for list length controls auto-inserted by DataTables */
/* Allows the "Show closed campaigns" button to stay on same line as other controls */
#campaign_table_length {
    display: inline;
    margin-right: 10px;
}

/*Custom Checkbox to show closed campaigns - center and spacing for mobile*/
.show-closed {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
/* center pagination navigation buttons on mobile*/
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    justify-content: center!important
}

@media (min-width: 992px) {
    /*right align for pagination nav btns on desktop*/
    div.dataTables_wrapper div.dataTables_paginate ul.pagination {
        justify-content: flex-end!important
    }

    /*adjust align and spacing for desktop*/
    .show-closed {
        margin-top: 0px;
        text-align: left
    }
}
/********* CAMPAIGN PAGE ************/
 /*center and size banner image*/
    .campaign-image{
        max-width: 100%;
        max-height: 150px;
}

/* re-usable panel*/
.campaign-panel {
    background-color: #e9ecef;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}

/* Primary CTA and Country select*/
.campaign-panel.primary-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.campaign-country-select {
    display: flex;
    align-items: baseline;
    background-color: #fff;
    margin-bottom: 10px;
    justify-content: space-between;
}
.campaign-country-select p {
    margin: 0;
    padding: 0 9px;
    display: inline-block;
}
#campaign_countries {
    border-radius: 0;
    border: none;
    border-left: 1px solid #ced4da;
    width: 150px;
}

/*Campaign Stats*/
.main-stats-label-group {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}
.stat-label {
    min-width: 150px;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    color: #212529;
    background-color: #fad67d;
}

.campaign-stats .stats-table {
    /*display: none;*/
    flex-direction: row;
   /* margin-top: 50px;*/
    justify-content: space-around;
}
.top-user-table {
    width: 100%;
}
.top-country-table {
    width: 100%;
}
more-stats-btn {
    margin-top: 20px;
}
.campaign-dates {
    display: inline-flex;
    width: 100%;
    justify-content: space-evenly
}
/* User Stats*/
.user-stats .stats-table th {
    width: 50%
}
.user-stats tbody tr {
    background-color: #fad67d;
}
/*end campaign page*/

/********* CAMPAIGN STATS PAGE*******/
/*overrides to campaign page CSS for stats page layout*/
    .stats-page .stats-table {display: flex; flex-wrap: wrap}
    .stats-page .top-user-table, .stats-page .top-country-table {flex: 1 1 350px; }
    .stats-page.campaign-stats {max-width: 100%}
    .stats-page.campaign-stats .stats-table {
    display: flex}
    .stats-meta p {margin:0; font-size: 80%;}
    .page-header.stats-page {padding-top: 0}
    /*.page-header.stats-page h1 {font-size: 3rem;}*/
    .close-stats {
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

/******** LAYOUT TEMPLATE ***********/

/*Disable hover state on mobile*/
 .topnav a.active, .nav-link:hover, #language_select:hover {
    border-bottom: none;
}

   .nav-link:hover, #language_select:hover, .lang:hover{
    color: rgba(255,255,255,.75)
}
/*match active style hover style*/
.topnav .nav-item.active .nav-link {
    border-bottom: 3px solid red;
    padding-bottom: 3px;
}

/*re-style select to match dropdowns*/
select.selectpicker {
    border: none;
    color: #999c9f;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    background: none;
    border-radius: 0;
    padding: .375rem 1.75rem .375rem 1.75rem;
    font-weight: 600
}
.custom-select:focus {
    box-shadow: none
}
/*match dropdowns bg to nav bar*/
select.selectpicker> option, .nav-item.dropdown .dropdown-menu  {
    background-color: #343A40;
    color: #fff;
}


/*add down caret to select*/
.lang {
    position: relative;
    width: fit-content;
    color: #999c9f;
}

.lang::after{
    position: absolute;
    font-family: 'Font Awesome 5 Free';
    top: 12px;
    left:0px;
    content: "\f1ab";
    font-weight: 900;

    font-size: 0.85rem;
}
/*add lang icon to nav item*/
.lang::before{
    position: absolute;
    font-family: 'Font Awesome 5 Free';
    top: 9px;
    right: 12px;
    content: "\f0d7";
    font-weight: 900;
   /* color: #999c9f;*/
    font-size: 0.85rem;
}

/* style the footer*/
.footer {
    font-size: 11px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px; /* Adjust as needed */
    background-color: #f0f0f0; /* Optional styling */
    margin-top: 50px;
    text-align: center;
  }

/*make subtle footer links*/
.footer a {
    color: #676eb4;
    text-decoration: underline
}
/*end layout template*/



/********** PARTICIPATE PAGE ************/

/* Loading overlay */

/* make a fullscreen overlay with centered content*/
.loading {
    background-color: #e9ecef;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    justify-content: center;
    align-items: center;
    display: flex
}
/* move the logo to the bottom of the page*/
.loading img {
    position: absolute;
    bottom: 50px;
}

/* increase deafult spinner size*/
.loading .spinner-border {
    width: 3em;
    height: 3em;
}
/*end overlay*/


/*wrapper to hold image and desktop nav buttons in place*/
.image-wrapper {
    display: flex;
    justify-content: space-evenly;
}
/*make image license info overlay image*/
.image-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #ffffff;
}
/*make chevrons big for desktop nav btns*/
.desktop-img-nav i {
    font-size: 3rem;
    vertical-align: middle;
}
/*hide desktop nav btns on mobile*/
.desktop-img-nav {
    display: none!important
}

/*restrict image height, make relative to position overlay.*/
.img-holder   {
    height:300px;
    position: relative;
}
/* make the background the same to hide the original image on hover (T312784) */
.img-holder,.zoomImg{
    background: repeating-conic-gradient(#ddd 0% 25%, #fff 0% 50%) 0 0 / 20px 20px;
}
/*shrink image to fit in img-holder*/
.img-holder img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}


/*style static meta data text*/
.image-desc {
    font-size: 12px;
    line-height: 1.5;
    padding: 10px;
}
/* wrap and ellipse static meta data*/
.image-desc p {
    margin: 0;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

/*stop wrapping text - selector used to expand meta box*/
.image-desc.expand p {
    white-space: inherit
}

/*reduce font weight of inserted data*/
.image-desc span {
    font-weight: 400
    }

/*allow absolute position for publish btns*/
.edit-box-header {
    position:relative
    }

/*place publish btn top right of edit box*/
.edit-publish-btn-group {
    position: absolute;
    right: 0;
    top: 0;
}
/*make cancel changed button red*/
.cancel-edits-btn {
    color: #990000
}

/*adjust padding and spacing*/
.container.edit-box.active {border-color: #007bff}
.container.edit-box {
    margin-top: 10px;
    padding: 10px;
    border:  solid 1px #a2a9b1;
    border-radius: 5px;
}

/* make depict tag*/
.depict-tag-label{
    display: flex
}
.depict-tag-label .label {
    white-space: pre-wrap;
    color: #fff;
    font-weight: 700;
    justify-self: flex-start;
    margin-right: auto;
}
.depict-tag-item {
    margin-top: 3px;
    margin-right: 10px;
    display: inline-block;
    background-color: #006699!important;
    border-radius: 5px;
    padding: 5px;
}

.suggestion{
    float: left;
    display: flex;
    flex-direction:column;
    height: 2px;
}

.suggestion span{
    font-weight: 150;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: small;
}

.collapsed {
    display: none;
}

#suggest-toggle {
    line-height: 1.2;
    margin-bottom: 5px;
}

#toggle-label{
    cursor: pointer;
}

.service-type-md{
    margin-top: -5px;
}

.service-type-gv::before{
    content: 'G';
}

.service-type-md::before{
    content: 'M';
}

#depict-tag-suggestions-container {
    display: none;
    background-color: #eeeeee;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 13px;
}

.depict-tag-suggestion {
    margin-bottom: 7px;
    margin-right: 7px;
    display: inline-block;
    background-color: #666!important;
    border-radius: 5px;
    padding: 2px;
}

.depict-tag-suggestion:hover {
    background-color: #3d3d3d!important;
}

.depict-tag-suggestion .accept-depict,
.depict-tag-suggestion .reject-depict{
    border: none;
    color: white;
    padding: 3px;
    background: none;
    font-size: 20px;
}

.depict-tag-suggestion .depict-tag-confidence {
    font-weight: normal;
}

.depict-tag-item button {
    white-space: initial;
}
.depict-tag-label btn {
    padding: 4px 1px
}
.depict-tag-label-text{
    font-size: 1rem;
    margin-left: 5px;
}
.depict-tag-label-text a {
    color: #FFF;
    text-decoration: underline;
}
.depict-tag-label-text a:hover {
    color: #CEE8FF;
}
.depict-tag-qvalue{
    font-size: 80%;
    font-weight: 400;
    padding: .2em;
}

.prominent-btn {
    background-color: transparent;
    color: #fff;
    border: thin solid!important;
 }
.prom-help i, .prominent-btn.active, .prominent-btn:hover {
    color: #ffc107!important;
}

.depict-tag-btn {
    padding: 0;
    display: flex;
    background-color: white;
    border-radius: 32px;
    width: 25px;
    height: 25px;
    margin-left: 5px;;
    min-width: 25px;
    justify-content: center;
    align-self: center;
}
.depict-tag-btn button {
    color: #990000;
    padding: 0;
}
.depict-tag-btn button:hover, .cancel-edits-btn:hover{
    color: red!important
}
/*keep hidden till needed*/
.prom-help {
    display: none
}
/* end make depict tag*/

/* make sticky nav footer for mobile*/
.participate-nav-footer.container {
    position: fixed;
    bottom: 0;
    padding: 0;
    background-color: #fff
}
.participate-nav-footer .btn-group {
    height: 50px;
}
 .participate-nav-footer button {
    border-radius: 0;
}
/*add spacer between buttons*/
.participate-nav-footer .previous-image-btn {
    margin-right: 1px!important;
}
.participate-nav-footer .next-image-btn {
    margin-left: 1px!important;
}

/*Fix width and height of bootstrap input prepend*/
.input-group>.input-group-prepend>.input-group-text {
    min-width: 45px;
    height: 38px;
}

/*match select2 search box to input box*/
.select2-container--default .select2-selection--single {
     border: 1px solid #ced4da;
     border-radius: 0 4px 4px 0;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    padding: .375rem .75rem;
    line-height: 1.5;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
    font-size: 1rem;
    color: #495057;
}
.select2-container .select2-selection--single {
    height: 38px;
}
.select2-container .select2-selection__arrow {
    height: 100% !important;
}
.search-result-label {
    font-size: larger;
    font-weight: bold;
}
.select2-results__option {
    border-bottom: solid thin lightgray;
}
/*end participate page/*



/********** UPDATE & CREATE PAGE **********/
#selected-categories-header {
    display: none;
}

.valid-category .category-name {
    color:#28a745;
}

.invalid-category .category-name {
    color:#dc3545;
}


/*end update & create*/




/*******DESKTOP RESPONSIVE*************/

@media (min-width: 992px) {

/*activate hover styles on desktop*/
    .nav-link:hover, #language_select:hover{
    border-bottom: 3px solid red;
    padding-bottom: 3px;
   }

    /* GLOBAL STYLE */
    /*.page-title hr {width: 50%}*/

    /*center about section on desktop*/
    .about-section p {text-align: center}
    /*desktop spacing for page header*/
    .page-header {
        padding-top: 20px;
    }
    /*increase page title on desktop*/
    .page-header h1 {
        font-size: 3.5rem;
    }
    .page-header h2 {
        font-size: 2.5rem;
    }

    /*reduce hr width on desktop*/
    .page-header hr {

        width:50%
    }

    /*CAMPAIGN PAGE*/

    /*make the user stats table and main stats labels smaller and centered on desktop*/
    .user-stats .stats-table {
        width: 50%
    }
    .main-stats-label-group {
        width:50%
    }

    /* Show the campaign stats tables on desktop*/
    .campaign-stats .stats-table {
        display: flex;
    }


    /*PARTICIPATE PAGE*/

    /*temp make nav buttons centralised on desktop*/
    .participate-nav-footer.container {
        position: inherit
    }
    /*showdesktop nav buttons*/
    .desktop-img-nav {
        display: block!important
    }
    /*hide mobile nav buttons*/
    .participate-nav-footer.container {
        display: none;
    }

    /*STATS PAGE*/
    .campaign-dates {
        width: 50%;
    }
}
/*end responsive desktop/*


/********** hidden i18n text **********/
.hidden-i18n-text {
    display: none;
}


@media (max-width: 600px) OR (max-height: 600px) {
    .accept-depict,
    .reject-depict{
        display: none;
    }
    .modal-title{
        padding-top: 10px;
    }
    .modal-footer{
        display: block;
        text-align: center;
    }
    .modal-dialog {
        width: 85%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .blur {
        filter: blur(5px);
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
    }
}