{% extends "layout.html" %}
{% block content%}
    <header class="main-page">
        <div class=" d-flex justify-content-center container">
            <h1>
                ISA - Campaigns
            </h1>
        </div>
    </header>
    <div class="container">
        <section id="campaigns">
            <div class="section-header">
                <h3>
                    Ongoing Campaigns
                </h3>
            </div>
            <br>
            <table id="campaign_table" class="table mt-10px table-striped table-bordered table-hover" cellspacing="0" width="100%">
                    <thead class="thead-dark">
                       <tr>
                          <th scope="col">Campaign</th>
                          <th scope="col">Start Date</th>
                          <th scope="col">End Date</th>
                          <th scope="col">Status</th>
                          </tr>
                    </thead>
                    <tbody>
                          {% for campaign in campaigns %}
                          <tr>
                              <td nowrap class="table-link-cell title" role="button" tabindex="0">
                                  <a class="campaign-link" href="{{url_for('campaigns.getCampaignById', id=campaign.id) }}">
                                      <span class="">
                                          {{ campaign.campaign_name }}
                                      </span>
                                  </a>
                              </td>
                              <td class="table-link-cell">
                                  <a class="campaign-link" href="{{url_for('campaigns.getCampaignById', id=campaign.id) }}">
                                      <span class="">
                                          {{ campaign.start_date.strftime("%Y-%m-%d %H:%M") }}
                                      </span>
                                  </a>
                              </td>
                              <td class="table-link-cell">
                                  <a class="campaign-link" href="{{url_for('campaigns.getCampaignById', id=campaign.id) }}">
                                      <span class="">
                                            {{ campaign.end_date.strftime("%Y-%m-%d %H:%M") }}
                                      </span>    
                                  </a>
                              </td>
                              <td class="table-link-cell">
                                  <a class="campaign-link" href="{{url_for('campaigns.getCampaignById', id=campaign.id) }}">
                                        {% if campaign.end_date.strftime("%Y-%m-%d %H:%M") < datetime.now().strftime("%Y-%m-%d %H:%M") %}
                                            <span class=""> Closed </span>
                                        {% else %}
                                            <span class=""> Open </span>
                                        {%  endif %}
                                  </a>
                              </td>
                          </tr>
                      {% endfor%} 
                    </tbody>
                 </table>
        </section>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/dataTables.bootstrap.min.js"></script>
    
{% endblock content%}

