{% extends "layout.html" %}
{% block content%}

<div id="site-welcome" class="jumbotron jumbotron-fluid">
    <div class="d-inline-flex "></div>
        <h1 class="display-6 ">ISA (Information Structured Acceleration) on Commons</h1>
        <br> <br>
            <button type="button" class="btn btn-outline-secondary ml-2"> <i class="fab fa-wikipedia-w"></i> Log in with Wikipedia</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-outline-secondary ml-2"> <i class="fab fa-wikipedia-w"></i> Sign up with Wikipedia</button>
            &nbsp;&nbsp;<i class="fas fa-question-circle" data-toggle="tooltip" data-placement="right" title="To use the dashboard, you'll need to sign in through Wikipedia and give it permission to access your account. You can log in with an existing Wikipedia account, or create a new one."></i>  
</div> 
<br>
{% endblock content%}