<!DOCTYPE html>
<html lang={{ session_language }}>
	<head>
		{% if title %}
		<title> ISA - {{ title }}</title>
		{% else %}
			<title> ISA </title>
		{% endif%}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--  <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
		{% if is_rtl %}
			<link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/bootstrap-v4-rtl/4.3.1-0/css/bootstrap-rtl.css" >		
		{%else%}
			<link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		{% endif %}
		

		<!--  <link type="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> -->
		<link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/font-awesome/5.8.2/css/all.css" integrity="sha256-39jKbsb/ty7s7+4WzbtELS4vq9udJ+MDjGTD5mtxHZ0=" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/r-2.2.2/datatables.min.css"/>
		<link href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/select2/4.0.7/css/select2.css" rel="stylesheet" />
		<link href='https://tools-static.wmflabs.org/fontcdn/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
		<!-- <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/linux-biolinum" type="text/css"/> -->
		<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
		{% if is_rtl %}
		<link rel="stylesheet" href="{{url_for('static', filename='css/main-rtl.css')}}" />
		{% endif %}
		
	</head>
	<body 
	{% if is_rtl %}
	class="rtl"
	dir="rtl"{% endif %}
	>

<nav class="navbar navbar-dark bg-dark navbar-expand-lg font-small topnav">
	<a class="navbar-brand" href="#">
	<img src="{{ url_for('static', filename = 'ISA-Structured-Data-logo_landscape_white.png') }}" height="30" alt="">
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav   mr-auto ">
			<li class="nav-item">
				<a class="nav-link" href="{{url_for( 'main.home' )}}" id="">
					<i class="fa fa-home"></i> {{ _('Home') }} <span class="sr-only">(current)</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{url_for( 'campaigns.getCampaigns' )}}">
					<i class="fa fa-bell "></i> {{ _('Campaigns') }}
				</a>
			</li>
			<li class="nav-item">
				{% if username != 'Guest' and username != None %}
				<a class="nav-link" href="{{url_for( 'campaigns.CreateCampaign' )}}">
					<i class="fa fa-plus"></i> {{ _('Create new campaign') }}
				</a>
				{% endif %}
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{url_for( 'main.help' )}}">
					<i class="fa fa-book"></i> {{ _('Help') }}
				</a>
			</li>
		</ul>
		<ul class="navbar-nav">
			<li class="nav-item lang">
				<select id="language_select" class="custom-select selectpicker" data-width="fit">
                    {% for language in languages %}
					<option data-content='<span class=""></span>{{ language }}'{% if session_language==language %} selected="selected" {% endif %}>{{ language }}</option>
		            {% endfor %}
				</select>
			</li>
			<li class="nav-item dropdown">
				{% if username %}
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> {{username}}</a>
				<div class="dropdown-menu">
					<a href="{{url_for( 'users.userSettings' )}}" class="nav-link " id="user_name" title="{{ _('Change your available caption languages') }}">{{ _('Language preferences') }}</a>
					<a href="{{url_for( 'users.getMyCampaigns', username=username )}}" class="nav-link " id="user_name" title="{{ _('See your campaigns') }}">{{ _('My campaigns') }}</a>
				</div>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if current_user.is_authenticated and username  %}
				<a class="nav-link" href="{{url_for( 'users.logout' )}}">
					<i class="fab fa-wikipedia-w"></i> {{ _('Logout') }}
				</a>
				{% elif username %}
				<a class="nav-link" href="{{url_for( 'users.logout' )}}">
					<i class="fab fa-wikipedia-w"></i> {{ _('Logout') }}
				</a>
				{% else %}
				<a class="nav-link" href="{{url_for( 'users.login' )}}">
					<i class="fab fa-wikipedia-w"></i> {{ _('Login') }}
				</a>
				{% endif %}
			</li>
		</ul>
</div>
</nav>


{% with messages = get_flashed_messages( with_categories = true) %}
	{% if messages %}
		{% for category, message in messages %}
			<div class="isa-flash-message show fade alert .alert-dismissible alert-{{ category }}">
				{{ message }}
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
		{% endfor %}
	{% endif %}
{% endwith %}

<div class="content-wrapper">
    {% block content %} {% endblock content %}
</div>
<!-- Footer -->
<footer class="footer bg-light">
	<div class="container">
		<a href="https://commons.wikimedia.org/wiki/Commons:ISA_Tool" target="_blank">{{ _('ISA tool') }}</a>
		{{ _('was developed as a collaboration between Wiki In Africa, Histropedia and the Structured Data on Commons project') }}.
		{{ _('Further devopment supported by ') }}
		<a href="https://wikimedia.se" target="_blank">Wikimedia Sverige</a>,
		<a href="https://www.switch.ch" target="_blank">SWITCH</a> and
		<a href="https://www.bfh.ch" target="_blank">Bern University of Applied Sciences</a>.
		{{ _('It is running on') }}
		<a href="https://tools.wmflabs.org" target="_blank">tools.wmflabs.org</a>
		, {{ _('and is subject to the') }}
		<a href="https://wikitech.wikimedia.org/wiki/Wikitech:Cloud_Services_Terms_of_use" target="_blank">Wikimedia Cloud Services Terms of use</a>
		. {{ _('ISA is published under') }}
		<a href="https://www.gnu.org/licenses/quick-guide-gplv3.en.html" target="_blank"> GPLv3</a>
		. {{ _('Content added through the tool to Wikimedia Commons is released under') }}
		<a href="https://creativecommons.org/publicdomain/zero/1.0/deed.en" target="_blank">CC0</a>
		.
	</div>
</footer>
		<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.3.1/jquery.js"></script>
        <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<!--<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>-->
		<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/select2/4.0.7/js/select2.js"></script>
		<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
		<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/canvasjs/1.7.0/canvasjs.min.js"></script>
		<script src="{{url_for('static', filename='js/main.js')}}"></script>
		<script type="text/javascript">
			var csrf_token = "{{ csrf_token() }}";

			$.ajaxSetup({
				beforeSend: function(xhr, settings) {
					if (
						!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) &&
							!this.crossDomain
					) {
						xhr.setRequestHeader("X-CSRFToken", csrf_token);
					}
				}
			});
		</script>
		{% block scripts %} {% endblock scripts %}
	</body>
</html>
