{% extends "main/layout.html" %}
{% block content %}
<div class="container text-center page-header">

                    <h2>
                        {{ _('Caption Languages') }}
                    </h2> 
    <hr> 
    <h4>{{ _('Select upto 6 languages for captions') }}<button type="button" class="btn btn-link py-0" data-container="body" title="POP-UP TITLE HERE" data-toggle="popover" data-placement="right" data-content="POP-UP TEXT HERE"><i class="fas fa-question-circle"></i></button></h4>
</div>
<div class="container text-center pb-4" style="max-width: 540px; background-color: lightgrey">
   
    <hr>
    <form class="" method="POST">
        {{ captions_lang_form.csrf_token }}
        <div id="language_select_1" class="input-group mb-3">
            {{ captions_lang_form.language_select_1( id="captions_lang_select_1", class="form-control") }}
            <div class="input-group-append">
                <button class="btn btn-outline-danger" type="button" id="language_select_1_cancel"><i class="fa fa-trash"></i></button>
            </div>
        </div>
        <div id="language_select_2" class="input-group mb-3">
            {{ captions_lang_form.language_select_2( id="captions_lang_select_2", class="form-control") }}
            <div class="input-group-append">
                <button class="btn btn-outline-danger" type="button" id="language_select_2_cancel"><i class="fa fa-trash"></i></button>
            </div>
        </div>
        <div id="language_select_3" class="input-group mb-3">
            {{ captions_lang_form.language_select_3( id="captions_lang_select_3", class="form-control") }}
            <div class="input-group-append">
                <button class="btn btn-outline-danger" type="button" id="language_select_3_cancel"><i class="fa fa-trash"></i></button>
            </div>
        </div>
        <div id="language_select_4" class="input-group mb-3">
            {{ captions_lang_form.language_select_4( id="captions_lang_select_4", class="form-control") }}
            <div class="input-group-append">
                <button class="btn btn-outline-danger" type="button" id="language_select_4_cancel"><i class="fa fa-trash"></i></button>
            </div>
        </div>
        <div id="language_select_5" class="input-group mb-3">
            {{ captions_lang_form.language_select_5( id="captions_lang_select_5", class="form-control") }}
            <div class="input-group-append">
                <button class="btn btn-outline-danger" type="button" id="language_select_5_cancel"><i class="fa fa-trash"></i></button>
            </div>
        </div>        
         <div id="language_select_6" class="input-group mb-3">
            {{ captions_lang_form.language_select_6( id="captions_lang_select_6", class="form-control") }}
            <div class="input-group-append">
                <button class="btn btn-outline-danger" type="button" id="language_select_6_cancel"><i class="fa fa-trash"></i></button>
            </div>
        </div>
      <div class="btn-group">
            <a id="get_started_btn" href="{{url_for('users.userSettings') }}" class="btn btn-danger" >{{ _('Undo Changes') }}</a> &nbsp;
            {{ captions_lang_form.submit(class="btn btn-primary", value=_('Save')) }}

       </div>
    </form>
</div>

{% endblock content %}
{% block scripts %}
    <script src="{{url_for('static', filename='js/user-settings.js')}}"></script>
{% endblock scripts%}