{% extends "main/layout.html" %}
{% block content %}
<div class="container">
        <div class="text-center">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2> {{ _('Server Under maintenance') }} (403)</h2>
                <div class="error-details">
                        {{ _('Please check contact support') }}
                </div>
                <div class="error-actions">
                    <a href="{{url_for( 'main.home' )}}" class="btn btn-primary btn-lg">
                            <span class="fas fa-home"></span>
                            {{ _(' Take Me Home') }}
                        </a>
                        <a href="#" class="btn btn-default btn-lg">
                            <span class="fas fa-envelope"></span>
                            {{ _('Contact Support') }}
                        </a>
               </div>
            </div>
        </div>
    </div>
{% endblock content%}